<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="temperatureWatcherSettings" type="TemperatureWatcher.Settings.SettingsSection"/>
  </configSections>
  <temperatureWatcherSettings>
    <timeToLeaveSource>
      <file enabled="true">
        <path>C:\temp\test.ini</path>
        <contentMask>[0-9]{0,2}:[0-9]{0,2}</contentMask>
        <readInterval>
          <hours>0</hours>
          <minutes>0</minutes>
          <seconds>10</seconds>
        </readInterval>
      </file>
      <http enabled="false">
        <path>http://domain/Service/Id</path>
        <contentMask>[0-9]{0,2}:[0-9]{0,2}</contentMask>
        <readInterval>
          <hours>0</hours>
          <minutes>0</minutes>
          <seconds>10</seconds>
        </readInterval>
      </http>
      <webService enabled="false" />
    </timeToLeaveSource>
    <temperatureSource>
      <file enabled="false">
        <path>C:\temp\test.ini</path>
        <contentMask>-?[0-9]*\.?[0-9]*</contentMask>
        <readInterval>
          <hours>0</hours>
          <minutes>0</minutes>
          <seconds>10</seconds>
        </readInterval>
      </file>
      <http enabled="true">
        <path>http://domain/Service/Id</path>
        <contentMask>-?[0-9]*\.?[0-9]*</contentMask>
        <readInterval>
          <hours>0</hours>
          <minutes>0</minutes>
          <seconds>10</seconds>
        </readInterval>
      </http>
    </temperatureSource>
    <startLevels>
      <level temperature="10" hours="0" minutes="20" seconds="0"/>
      <level temperature="0" hours="0" minutes="30" seconds="0" />
      <level temperature="-5" hours="1" minutes="0" seconds="0" />
      <level temperature="-10" hours="1" minutes="30" seconds="0" />
    </startLevels>
    <execution>
      <executable>ping.exe</executable>
      <flags>
        <on>localhost</on>
        <off>192.168.0.1</off>
      </flags>
      <delayShutdownAfterTimePassed>
        <hours>0</hours>
        <minutes>1</minutes>
        <seconds>0</seconds>
      </delayShutdownAfterTimePassed>
    </execution>
  </temperatureWatcherSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TemperatureWatcherServiceBehavior"
        name="TemperatureWatcher.Service.Settings.TemperatureWatcherWebService">
        <endpoint address="" binding="basicHttpBinding" contract="TemperatureWatcher.Service.Settings.ITemperatureWatcherServiceContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TemperatureWatcherServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
