<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="temperatureWatcherSettings" type="TemperatureWatcher.Configuration.Config, TemperatureWatcher.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <temperatureWatcherSettings>
    <timeToLeaveSource>
      <file enabled="false" path="C:\temp\time.txt" contentMask="[0-9]{0,2}:[0-9]{0,2};(true|false|True|False|TRUE|FALSE)">
        <readInterval hours="0" minutes="0" seconds="5" />
      </file>
      <http enabled="false" path="http://domain/Service/Id" contentMask="[0-9]{0,2}:[0-9]{0,2}">
        <readInterval hours="0" minutes="5" seconds="10" />
      </http>
      <webService enabled="true" />
    </timeToLeaveSource>
    <temperatureSource>
      <file enabled="false" path="C:\temp\temperature.txt" contentMask="-?[0-9]*\.?[0-9]*">
        <readInterval hours="0" minutes="5" seconds="10" />
      </file>
      <http enabled="true" path="http://www.temperatur.nu/termo/solna/temp.txt" contentMask="-?[0-9]*\.?[0-9]*">
        <readInterval hours="0" minutes="5" seconds="0" />
      </http>
    </temperatureSource>
    <startLevels>
      <level temperature="20" hours="0" minutes="5" seconds="0" />
      <level temperature="10" hours="0" minutes="10" seconds="0" />
      <level temperature="0" hours="0" minutes="30" seconds="0" />
      <level temperature="-5" hours="0" minutes="45" seconds="0" />
      <level temperature="-10" hours="1" minutes="0" seconds="0" />
    </startLevels>
    <execution executable="cmd.exe">
      <flags on="/K ECHO Start" off="/K ECHO Stop" />
      <delayShutdownAfterTimePassed hours="0" minutes="0" seconds="10" />
    </execution>
    <webApi url="http://+:8080/" useAuth="true" username="test" password="test" />
  </temperatureWatcherSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
