<h4>Status</h4>
<div class="alert {{ isExecuting ? 'alert-success' : 'alert-danger' }}" role="alert">Motorvärmare: {{ isExecuting ? "På" : "Av" }}</div>
<div class="alert alert-info" role="alert">Nuvarande temperature: {{ currentTemperature }} C</div>
<h4>Ställ in avfärdstid</h4>
<form>
    <!--div class="form-group">
        <label for="inputHour">Timme</label>
        <input type="text" class="form-control" id="inputHour" ng-model="hour" ng-change="timeChanged()" />
    </div>
    <div class="form-group">
        <label for="inputMinute">Minut</label>
        <input type="text" class="form-control" id="inputMinute" ng-model="minute" ng-change="timeChanged()" />
    </div-->
    <div class="form-group">
        <div class='input-group date' id='hour-container'>
            <span class="input-group-addon">
                <span>T</span>
            </span>
            <select class="form-control" ng-model="hour" id="hour-control">
                <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]" value="{{ i }}">{{ i < 10 ? "0" + i : i }}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class='input-group date' id='minute-container'>
            <span class="input-group-addon">
                <span>M</span>
            </span>
            <select class="form-control" ng-model="minute" id="minute-control">
                <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]" value="{{ i }}">{{ i < 10 ? "0" + i : i }}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
            <input id="active-state" ng-model="isActive" ng-true-value="true" ng-false-value="false" type="checkbox" />
            <label for="active-state">
            Aktiv
            </label>
    </div>
    <button class="btn btn-block btn-save" ng-click="save()">Spara</button>
</form>

<h4>Starta direkt</h4>
<button class="btn btn-block btn-instant-start" ng-click="controlExecutable(true, 0)">Starta nu</button>
<button class="btn btn-block btn-instant-start-auto-stop" ng-click="controlExecutable(true, 30)">Starta i 30 min</button>
<button class="btn btn-block btn-instant-start-auto-stop" ng-click="controlExecutable(true, 60)">Starta i 1 timme</button>
<button class="btn btn-block btn-instant-start-auto-stop" ng-click="controlExecutable(true, 90)">Starta i 1 timme och 30 min</button>
<button class="btn btn-block btn-instant-stop" ng-click="controlExecutable(false, 0)">Stäng av</button>

<div id="auth-button-container">
    <h4>Autentisering</h4>
    <button class="btn btn-block btn-warning" ng-click="goToAuth()">Autentisering</button>
</div>

<div ng-include src="'views/messagedialog.html'"></div>